@media screen and (min-width:800px) {
    body {
        padding-top: 0px;
        background-color: lightcyan;
    }


    header > h4 > img {
        width: 20px;
        height: auto;
        border-radius: 10px;
    }

    header > h4 {
        text-align: right;
        left: 70%;
    }

    nav {
        width: 100%;
        height: 60px;
        background-color: lightskyblue;
        position: fixed;
        top: 60px;
        z-index: 500;
    }

    nav ul {
        list-style-type: none;
    }

    nav a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        display: block;
        height: 100%;
    }

    ul.meniu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    ul.meniu > li {
        flex-grow: 1;
        height: 60px;
        line-height: 60px;
        text-align: center;
    }

    ul.meniu > li > ul.submeniu {
        visibility: hidden;
    }

    ul.meniu > li:hover > ul.submeniu {
        visibility: visible;
        background-color: lightskyblue;
    }

    ul.meniu li {
        transition: background-color 3s;
    }

    ul.meniu li:hover {
        transition: background-color 3s;
        background-color: lightskyblue;
    }

    header > h1 > img {
        width: 80px;
        height: auto;
        border-radius: 80px;
    }

    header > h1 {
        padding-top: 50px;
        font-size: 50px;
        color: black;
        text-align: center;
        text-shadow: 4px 4px 4px darkblue;
    }

    a:link {
        color: black;
        background-color: transparent;
        text-decoration: none;
    }

    a:visited {
        color: black;
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: royalblue;
        background-color: transparent;
        text-decoration: underline;
    }

    a:active {
        color: royalblue;
        background-color: transparent;
        text-decoration: underline;
    }

    #info-croaziere {
        padding: 0px 50px 0px 50px;
    }
    .container-croaziere{
        position: relative;
        width: 90%;
        padding-left:5%;
    }
    .container-croaziere>img{
        height:400px;
    }
    .container-croaziere>h2 {
        position: absolute;
        bottom: 150px;
        left:10% ;
        color:white;
    }
    table, th, td{
        border-collapse: collapse;
        text-align: center;
        padding-top:10px;
    }
    table {width: 80vw;
        position:relative;
        left:10%;
    }
    .detalii {
        display: flex;
        align-items: center;
        padding:0% 5% 0% 5%;
    }
    #exemple-croaziere>detalii>video-croaziera {
        max-width: 100%;
    }
    .info-croaziera {
        flex-basis: 50%;
        padding:20px;
    }
    #exemple-croaziere{
        text-align:center;
        padding-left:50px;
    }
    #decizie{
        padding:20px 50px 0px 50px;
    }
    #contact>div>img{
        width: 20px;
        height: auto;
        border-radius: 20px;
    }
    footer {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: lightskyblue;
        text-align: center;
    }
}