@media screen and (min-width:1300px) {
    body {
        padding-top: 0px;
        background-color: lightcyan;
    }
    header input, header div{display:none;}

    header > h4 > img {
        width: 20px;
        height: auto;
        border-radius: 10px;
    }

    header > h4 {
        text-align: right;
    }

    nav {
        width: 100%;
        height: 60px;
        background-color: lightskyblue;
        position: fixed;
        top: 60px;
        z-index:500;
    }

    nav ul {
        list-style-type: none;
    }

    nav a {
        text-decoration: none;
        font-size: 20px;
        display: block;
        height: 100%;
    }

    ul.meniu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    ul.meniu > li {
        flex-grow: 1;
        height: 60px;
        line-height: 60px;
        text-align: center;
    }

    ul.meniu > li > ul.submeniu {
        visibility: hidden;
    }

    ul.meniu > li:hover > ul.submeniu {
        visibility: visible;
        background-color: lightskyblue;
    }

    ul.meniu li {
        transition: background-color 3s;
    }

    ul.meniu li:hover {
        transition: background-color 3s;
        background-color: lightskyblue;
    }

    header > h1 > img {
        width: 80px;
        height: auto;
        border-radius: 80px;
    }

    header > h1 {
        padding-top: 50px;
        font-size: 50px;
        color: black;
        text-align: center;
        text-shadow: 4px 4px 4px darkblue;
    }

    a:link {
        color: black;
        background-color: transparent;
        text-decoration: none;
    }

    a:visited {
        color: black;
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: royalblue;
        background-color: transparent;
        text-decoration: underline;
    }

    a:active {
        color: royalblue;
        background-color: transparent;
        text-decoration: underline;
    }

    #trailer {
        text-align: center;
    }

    #container-trailer {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
    }
    .imag{
        transition: transform 5s;
    }
    .item>img:hover{
        transform: rotate(360deg) scale(0.2) skew(20deg);
    }

    .item {
        flex: 1 0 auto;
        margin: 1em;
    }

    .imag {
        width: 100%;
        height: auto;
    }

    #info > p {
        text-align: center;
    }

    #info {
        display: flex;
        width: 100%;
        height: 150px;;
        justify-content: center;
    }
    #info>p{flex-basis:800px;}

    #motiv>h1{
        text-align:center;
    }
    #motiv,#joc{
        padding:0px 20px 0px 20px;
    }
    #avantaje{
        padding:0px 20px 0px 20px;
    }
    #contact>div>img{
        width: 20px;
        height: auto;
        border-radius: 20px;
    }
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        padding-top: 60px;
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 5px auto; /* 15% from the top and centered */
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        /* Position it in the top right corner outside of the modal */
        position: absolute;
        right: 25px;
        top: 0;
        color: #000;
        font-size: 35px;
        font-weight: bold;
    }

    /* Close button on hover */
    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }

    /* Add Zoom Animation */
    .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
    }

    @-webkit-keyframes animatezoom {
        from {-webkit-transform: scale(0)}
        to {-webkit-transform: scale(1)}
    }

    @keyframes animatezoom {
        from {transform: scale(0)}
        to {transform: scale(1)}
    }
    footer {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: lightskyblue;
        text-align: center;
    }
}



